<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Train or Gain</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
      <h1 class="display-3">Admin Page</h1>
      <p class="lead">This page is made for adding, updating and deleting databases elements.</p>
      </div>
    </div>

    <div class="container">
          <div class="row col-xs-6">
          <!-- food form -->
          <div id='food-form'>
            <form class="form-horizontal">
              <fieldset>
                <legend>New food entry</legend>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="name">Food Name</label>
                  <div class="col-md-4">
                  <input id="name" required name="name" type="text" placeholder="" class="form-control input-md" required="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="calories">Calories</label>
                  <div class="col-md-4">
                  <input id="calories" required name="calories" type="number" placeholder="" class="form-control input-md">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="image">Image</label>
                  <div class="col-md-4">
                  <input id="image" required name="image" type="url" placeholder="" class="form-control input-md">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="description">Short description</label>
                  <div class="col-md-4">
                    <textarea class="form-control" id="description" name="description"></textarea>
                  </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton">Save Entry</label>
                  <div class="col-md-4">
                    <button class="add-food" name="singlebutton" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          </div>
                <!-- activities form -->
                <div id='activity-form'>
                  <form class="form-horizontal">
                    <fieldset>
                      <legend>New activity entry</legend>
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Activity Name</label>
                        <div class="col-md-4">
                        <input id="name" required name="name" type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="met">MET</label>
                        <div class="col-md-4">
                        <input id="met" required name="met" type="number" placeholder="" class="form-control input-md">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="image">Image</label>
                        <div class="col-md-4">
                        <input id="image" required name="image" type="url" placeholder="" class="form-control input-md">
                        </div>
                      </div>
                      <!-- Button -->
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton">Save Entry</label>
                        <div class="col-md-4">
                          <button class="add-activity" name="singlebutton" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
        </div>
      <hr>
    <!-- card deck for food -->
    <div class="foodDB col-lg-6 col-md-6 col-xs-6">
      <h2>Food Database</h2>
      <div id="foods" class="row">
        <div class="card-deck-wrapper">
          <script id="foods-template" type="text/x-handlebars-template">
          <div class="card-deck">
            <div class="card col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card-block">
                <div class="card ">
                  <img class="card-img-top" src="{{image}}" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">{{name}}, {{calories}} Cal</h4>
                    <p class="card-text">{{description}}</p>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </script>
        </div>
      </div>
    </div>

    <!-- card deck for activities -->
    <div class="activityDB col-lg-6 col-md-6 col-xs-6">
      <h2>Activities Database</h2>
      <div id="activities" class="row">
        <div class="card-deck-wrapper">
          <script id="activities-template" type="text/x-handlebars-template">
          <div class="card-deck">
            <div class="card col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="card-block">
                <div class="card ">
                  <img class="card-img-top" src="{{image}}" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">{{name}}</h4>
                    <p class="card-text">MET: {{met}}</p>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
