<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Train or Gain</title>

    <!-- STYLESHEETS -->
    <link href='https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/mainStyles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/mainApp.js"></script>
  </head>
  <!-- TODO: Careful with indentation -->
  <body>
    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
         <h0 class="name font-effect-fire-animation text-center">TRAIN or GAIN</h0>
         <h2 class="hi font-effect-fire-animation">PLEASE MAKE SURE YOUR SOUND IS ON!</h2>
        <div class="start font-effect-fire-animation">
          <!-- Better to use jQuery listeners to call functions -->
          <!-- TODO: These h1s should have class-based event listeners in your JS file instead of using onclick -->
          <h1 class="ok grow" onclick="playSound1()">OK</h1>
          <h1 class="start start-button grow" onclick="playSound2()" >START</h1>
        </div>
      </div>
    </div>

    <audio class="hidden" id="audio1" controls preload="none">
        <source src="/audio/welcome1.mp3" type="audio/mpeg">
    </audio>
    <audio class="hidden" id="audio2" controls preload="none">
        <source src="/audio/welcome2.mp3" type="audio/mpeg">
    </audio>

<h1 class="name weight train font-effect-fire-animation">TRAIN or GAIN</h1>
<div class="weight col-xs-12 col-sm-offset-4">
  <!-- Remove empty class -->
  <div class="">
    <label class="col-xs-1 control-label font-effect-fire-animation" for="met">Weight:</label>
    <div class="col-xs-2">
    <input id="weight" required  name="weight" type="number" placeholder="in lbs" class="form-control input-md" >
    </div>
  </div>
</div>
    <!-- card deck for food -->
    <div class="foodDB col-xs-12">
      <h1 class="gain font-effect-fire-animation">FOOD</h1>
      <div id="foods" class="row">
        <div class="card-deck-wrapper">
          <script id="foods-template" type="text/x-handlebars-template">
          <div class="card-deck" data-food-id='{{_id}}'>
            <div class="card col-md-3 col-sm-6 col-xs-12">
              <div class="card-block">
                <!-- This use of onClick is ok for now since you're passing something into it with the HB template -->
                <div class="card clickFood" onclick="onClickFood({{calories}})">
                  <img class="card-img-top imgFood img-responsive img-circle grow" src="{{image}}" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="food-name font-effect-fire-animation">{{name}}</h4>
                    <p class="font-effect-fire-animation">Calories: </p><p class="food-calories font-effect-fire-animation">{{calories}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </script>
        </div>
      </div>
    </div>

    <!-- card deck for activities -->
    <div class="activityDB col-xs-12">
      <h1 class="gain font-effect-fire-animation">ACTIVITIES</h1>
      <div id="activities" class="row">
        <div class="card-deck-wrapper">
          <script id="activities-template" type="text/x-handlebars-template">
          <div class="card-deck" data-activity-id='{{_id}}'>
            <div class="card col-md-3 col-sm-6 col-xs-12">
              <div class="card-block">
                <div class="card ">
                  <img class="card-img-top img-responsive img-circle grow" src="{{image}}" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="activity-name font-effect-fire-animation">{{name}}</h4>
                    <p class="time font-effect-fire-animation">Time:</p><p class="activity-met font-effect-fire-animation">{{time}} minutes</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </script>
        </div>
      </div>
    </div>
    <div class="start-over font-effect-fire-animation">
      <!-- TODO: This onclick should be replaced with jQuery -->
      <h1 class="start" onclick="startOver()" >START OVER</h1>
    </div>
  </body>
</html>
