<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Train or Gain</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Admin Page</h1>
      <p class="lead">This page is made for adding, updating and deleting databases elements.</p>
    </div>
  </div>

  <!-- card deck -->
<div class="row">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card col-lg-3 col-md-4 col-sm-6">
        <div class="card-block">
            <div class="card ">
              <img class="card-img-top" src="/images/pathToYourImage.png"
                   alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on
                the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      <div class="card col-lg-3 col-md-4 col-sm-6">
        <div class="card-block">
            <div class="card">
              <img class="card-img-top" src="/images/pathToYourImage.png"
                   alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on
                the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      <div class="card col-lg-3 col-md-4 col-sm-6">
        <div class="card-block">
            <div class="card">
              <img class="card-img-top" src="/images/pathToYourImage.png"
                   alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on
                the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      <div class="card col-lg-3 col-md-4 col-sm-6">
        <div class="card-block">
            <div class="card">
              <img class="card-img-top" src="/images/pathToYourImage.png"
                   alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on
                the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br>  </br>
<!-- second row  -->
<!-- card deck -->
<div class="row">
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card col-lg-3 col-md-4 col-sm-6">
      <div class="card-block">
          <div class="card ">
            <img class="card-img-top" src="/images/pathToYourImage.png"
                 alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on
              the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
      </div>
    <div class="card col-lg-3 col-md-4 col-sm-6">
      <div class="card-block">
          <div class="card">
            <img class="card-img-top" src="/images/pathToYourImage.png"
                 alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on
              the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
      </div>
    <div class="card col-lg-3 col-md-4 col-sm-6">
      <div class="card-block">
          <div class="card">
            <img class="card-img-top" src="/images/pathToYourImage.png"
                 alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on
              the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
      </div>
    <div class="card col-lg-3 col-md-4 col-sm-6">
      <div class="card-block">
          <div class="card">
            <img class="card-img-top" src="/images/pathToYourImage.png"
                 alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on
              the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
