<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Train or Gain</title>
    <!-- STYLESHEETS -->
    <link href='https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/mainStyles.css">
    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/mainApp.js"></script>
  </head>
  <!-- TODO: Careful with indentation -->
  <body>
    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h0 class="name font-effect-fire-animation text-center">TRAIN or GAIN</h0>
        <h2 class="hi font-effect-fire-animation">Learn how much time you need to burn calories you eat</h2>
        <div class="start font-effect-fire-animation">
          <h2 class="start start-button grow">START</h2>
        </div>
      </div>
    </div>
    <h1 class="name weight train">TRAIN OR GAIN</h1>
    <h4 class="name weight train action">Enter your weight and click the food icon</h4>
    <form class="form-inline">
      <div class="form-group weight">
        <label>Weight</label>
        <input id="weight" required  name="weight" type="number" placeholder="in lbs" class="form-control input-md">
      </div>
    </form>
    <!-- card deck for food -->
    <div class="foodDB col-xs-12">
      <h2 class="gain">FOOD</h2>
      <div id="foods" class="row">
        <div class="card-deck-wrapper">
          <script id="foods-template" type="text/x-handlebars-template">
          <div class="card-deck" data-food-id='{{_id}}'>
            <div class="card col-sm-3 col-xs-6">
              <div class="card-block">
                <div class="card clickFood" onclick="onClickFood({{calories}})">
                  <img class="card-img-top imgFood img-responsive img-circle grow" src="{{image}}" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="food-name">{{name}}</h4>
                    <p>Calories: {{calories}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </script>
        </div>
      </div>
    </div>

    <!-- card deck for activities -->
    <div class="activityDB col-xs-12">
      <h2 class="gain">ACTIVITIES</h2>
      <div id="activities" class="row">
        <div class="card-deck-wrapper">
          <script id="activities-template" type="text/x-handlebars-template">
          <div class="card-deck" data-activity-id='{{_id}}'>
            <div class="card col-sm-3 col-xs-6">
              <div class="card-block">
                <div class="card ">
                  <img class="card-img-top img-responsive img-circle grow" src="{{image}}" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="activity-name">{{name}}</h4>
                    <p class="time activity-met">Time: {{time}} minutes</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </script>
        </div>
      </div>
    </div>

    <div class="start-over">
      <h1 class="start" onclick="startOver()" >START OVER</h1>
    </div>
  </body>
</html>
