body {
   background-color: #e6e6e6;
   font-family: 'Stellar';
}

.jumbotron {
  background-image: url(/images/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 610px;
  margin: 0 auto;
  -webkit-background-size: 100% 100%;
   -moz-background-size: 100% 100%;
   -o-background-size: 100% 100%;
   background-size: 100% 100%;
}

.hidden {
   display: none;
 }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.card {
  padding: 5px 15px;
  display: block;
  margin: 0 auto;
}

.foodDB, .activityDB, .lead, .hi, .start-over, .name, .train {
  text-align: center;
  text-transform: uppercase;
}

.container {
  font-family: 'Rancho';
  font-size: 100px;
  margin: 40px 0;
  text-align: center;
}

.ok, .start-button, .start-over, .card-img-top {
  cursor: pointer;
  cursor: hand;
}

.grow:hover
{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.gain {
  font-size: 40px;
  text-align: center;
}
div.start {
  margin-top: 30px;
}

.form-inline{
margin-left: 40%;
margin-right: 30%;
}
